[data-siyuan-floating-heading-number-plugin] {
  .protyle-wysiwyg:not(.protyle-wysiwyg--hiderange):not(.protyle-wysiwyg--selecting) {
    [data-node-id][data-type="NodeHeading"]:not(.protyle-wysiwyg--select):not(.protyle-wysiwyg--hl):not([select-start]):not([select-end]):not([class*="dragover"])::after {
      position: absolute;
      top: calc(50% - 0.8125em);
      right: calc(100% + 8px);
      box-sizing: border-box;
      width: var(--siyuan-floating-heading-number-width, 34px);
      height: 1.625em;
      overflow: hidden;
      color: var(--b3-theme-on-surface-light);
      font-size: var(--siyuan-floating-heading-number-font-size, var(--b3-font-size-editor));
      font-weight: 600;
      line-height: 1.625;
      pointer-events: none;
      text-align: right;
      text-overflow: clip;
      white-space: nowrap;
    }

    [data-node-id][data-type="NodeHeading"]:not(.protyle-wysiwyg--select):not(.protyle-wysiwyg--hl):not([select-start]):not([select-end]):not([class*="dragover"]):hover::after {
      opacity: 0;
    }

    [data-node-id][data-type="NodeHeading"][fold="1"]:not(.protyle-wysiwyg--select):not(.protyle-wysiwyg--hl):not([select-start]):not([select-end]):not([class*="dragover"])::after {
      right: calc(100% + 16px + 6px);
    }
  }
}
